@import 'styles/custom';

.header {
  position: sticky;
  z-index: 999;
  top: 0;
  &-container {
    max-width: 1480px;
  }
}
.header-menu {
  width: 100%;
}
.menu-item {
  line-height: 2rem;
  color: $gray-dark;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
  text-underline-offset: 0.5rem;
  &:hover {
    color: #fff;
    cursor: pointer;
    text-decoration-color: rgba(255, 255, 255, 1);
  }
}
.toggle-icon {
  display: none;
}
.auth-menu {
  margin-left: 5rem;
  .btn {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    outline: none;
    &-transparent {
      color: $gray-dark;
      &:hover {
        color: #fff;
      }
    }
    &-primary {
      background: rgb(132, 128, 199);
      background: linear-gradient(
        90deg,
        rgba(132, 128, 199, 1) 0%,
        rgba(77, 182, 174, 1) 50%,
        rgba(0, 212, 255, 1) 100%
      );
      color: #fff;
      &:hover {
        color: #242932;
        background: #fff;
      }
    }
  }
}

.collapse {
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 4;
  top: 7rem;
  right: 0;
  width: 100%;
  height: auto;
  max-height: 18rem;
  border-bottom: 5px solid;
  border-bottom-color: rgb(84, 79, 177);
  transition: all .3s ease-out;
}

@media only screen and (max-width: 1024px) {
  .toggle-icon {
    display: block;
    outline: none;
  }
  .collapse {
    display: block;
    .menu-collapse-links {
      width: 100%;
      flex-direction: column;
      .menu-item {
        padding: 1rem 0;
        margin: 0 auto;
      }
    }
    .toggle-icon {
      display: block;
      outline: none;
    }
    &-close {
      max-height: 0;
      border-bottom: none;
    }
  }
}
