@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'styles/header';
@import 'styles/footer';
@import 'styles/custom';
@import 'styles/global';

* {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-all;
}

body, html {
  height:  100%;
  margin:  0px auto;
  padding: 0px auto;
}