@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'styles/header';
@import 'styles/footer';
@import 'styles/custom';
@import 'styles/global';
* {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
}
html {
  scrollbar-color: #6969dd #0150aa;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-word;
  line-height: 2rem;
  background: transparent;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

button {
  outline: none !important;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(132, 128, 199);
  background: linear-gradient(
    90deg,
    rgba(132, 128, 199, 1) 0%,
    rgba(77, 182, 174, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(122, 122, 122, 0.3);
}
